################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Asp.netcore/.vs/Asp.netcore/v16
/Asp.netcore/bin/Debug/netcoreapp3.1
/Asp.netcore/obj
*.sln
/Asp.netcore/Asp.netcore.csproj
/Asp.netcore/.vs/Asp.netcore/config
